{% extends 'html/base.html' %} 

{% block body %}
{% load static %}
<div id="hero">
  <img
    style="height: 500px"
    src="{% static 'images/Saly-42.png' %}"
    alt="kya ho gya yr"
  />
  <div id="hero-content">
    <h1>WHAT IS COPYHELP?</h1>
    <p>
      Copyhelp is your permanent cliipboard. In copyhelp you can save anything
      and everything you use very often. For e.g I use some default css code for
      all of my project, what do you think will I write that code everytime?
      Nope, I'll use Copyhelp!
    </p>
    <p>
      Copyhelp will save your tons of time because you'll never have to search
      for that phone number that don't remember, you'll not have to rewrite that
      cold email that you always send.
    </p>
    <a class="remove_link_style" href="/register">
      <h3 class="link">Get Yourself A Copyhelp Account</h3>
    </a>
    <a class="remove_link_style" href="/register">
      <h3 class="link">Login To Your Copyhelp Account</h3>
    </a>
  </div>
</div>

{% endblock %}
