{% extends 'html/base.html' %}

{% load static %}

{% block style%}
<style>
#login-form {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
}

#login-form p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#login-form input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 8px;
  outline: none;
  font-size: medium;
}

#login-page {
  display: flex;
  align-items: center;
}
</style>
{% endblock%}

{% block body %}
<div sytle="width: 100%;" class="center">
  <div id="login-page" class="center">
    <img
      height="500px"
      src="{% static 'images/Saly-2.png' %}"
      alt="login page image copyhelp"
    />
    <form id="login-form" action="/login/" method="post">
      {% csrf_token %} {{ form.as_p }}
      <div><button type="submit" value="login" class="btn">Login</button></div>
    </form>
  </div>
</div>
{% endblock %}
