{% extends 'html/base.html' %}

{% load static %}

{% block style%}
<style>
  #register-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }

  .helptext {
    display: none;
  }

  #form-background {
    border-radius: 5px;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
  }

  #form-background img {
    transform: translateX(-50px);
  }

  #form-background #register-form {
    transform: translateX(-50px);
  }

  #form-top {
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    font-size: 1.1rem;
  }

  #register-form p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  #register-form input {
    margin-left: 5px;
    padding: 5px;
    border-radius: 8px;
    outline: none;
    font-size: medium;
  }
</style>
{% endblock %}

{% block body %}
<div class="center">
  <div id="form-background">
    <img
      height="650px"
      src="{% static 'images/Saly-1.png' %}"
      alt="Register Form Image"
    />
    <div id="register-form">
      <div id="form-top">
        <h1>GET A COPYHELP ACCOUNT</h1>
      </div>
      <form id="register-form" method="post" action="/register/">
        {% csrf_token %} {{ form.as_p }}
        <div>
          <button type="submit" class="btn">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
